<div class="col-md-10 box box-info" style="background-color:white; margin-left:50px;">
<div class="box-header with-border">
              <h3 class="box-title">New Order</h3>
            </div>
<%= render 'form' %>
</div>
<script type="text/javascript">
// $(".invite").on("change", function(){
//   alert("ppp");
// });
</script>
